<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>801513956820-m7qhv6dfm54ui48a85g2itisb72c7c3i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.801513956820-m7qhv6dfm54ui48a85g2itisb72c7c3i</string>
	<key>API_KEY</key>
	<string>AIzaSyAQul7OQaLmPOB27nQfinzU0jk_63ge0w8</string>
	<key>GCM_SENDER_ID</key>
	<string>801513956820</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.faceRecognitionApp</string>
	<key>PROJECT_ID</key>
	<string>luminous-shadow-334212</string>
	<key>STORAGE_BUCKET</key>
	<string>luminous-shadow-334212.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:801513956820:ios:c992f669c801c059876241</string>
</dict>
</plist>